@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-color: whitesmoke;
  font-family: "Comfortaa", cursive;
  overflow-x: hidden;
}

* {
  font-family: inherit;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 10%;
  margin-inline: 10%;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 5px;
  border: 1px solid grey;
  padding: 10px 20px;
  font-size: 20px;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 2px solid orange;
  outline: none;
}

input[type="file"] {
  display: none;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

footer {
  margin-top: 50px;
  background-color: #333;
  color: #fff;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

footer p {
  font-size: 14px;
}

button {
  -moz-appearance: none;
  cursor: pointer;
}

.fisherman-icon {
  width: 60px;
  filter: invert(56%) sepia(93%) saturate(606%) hue-rotate(357deg)
    brightness(102%) contrast(105%);
}

.footer-icon {
  filter: brightness(0) invert(1);
  width: 25px;
}

.footer-arrow-up {
  border: 1px solid orange;
  color: orange;
  border-radius: 50%;
  padding: 10px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  transition: font-size 0.5s;
}

.footer-arrow-up:hover {
  transition: font-size 0.5s;
  font-size: 30px;
}

@media (max-width: 600px) {
  .footer-arrow-up {
    padding: 5px;
    position: relative;
    right: 0;
  }

  .footer-content {
    gap: 2px;
    margin-right: 20px;
  }
}




.custom-file-upload {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.file-upload-icon {
  border: 1px solid grey;
  padding: 8px;
  border-radius: 50%;
}

.fänge-div div {
  display: flex;
  align-items: center;
  margin-inline: 5%;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 10px 20px;
}

.fänge-div {
  margin-bottom: 50px;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 30px;
  border: 1px solid;
}

.fang-img {
  margin: 0 auto;
  width: 80vw;
  max-width: 550px;
  display: flex;
}

/*
! Button styles here
*/

.toggleFormBtn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 50px;
  width: 300px;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;

}

.toggleFormBtn:hover {
  background-color: orange;
  color: white;
}

.upload-btn {
  width: 300px;
  padding: 10px 15px;
  margin-bottom: 100px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: orange;
}

#remove-item-from-db-btn {
  background-color: rgb(247, 134, 134);
  border: 1px solid;
}

#div-remove-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.close-btn {
  width: min-content;
  top: 7px;
  position: absolute;
  right: 6px;
  border: none;
  color: orangered;
  background-color: inherit;
  cursor: pointer;
  width: 23px;
  padding: 0;
  height: 23px;
  border-radius: 50%;
}

/*
! register styles
*/

.authentification-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 30px 30px 15px rgba(0, 0, 0, 0.5);
  padding: 2%;
}

.authentification-form h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
}

.form-btn {
  padding: 10px;
  background-color: orange;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  width: 95%;
  font-size: 20px;
}

@media(max-width:500px) {
  .authentification-form {
    background-color: rgb(249, 197, 102);
 
  }
}
